<div id="nav">
    <div class="wrapper">
        <!-- <input id="check" type="checkbox"> -->
        <div class="video circle1">
            <video src="https://www.robmillsarchitects.com/files/land/city/RMA_Web_land_city_1.mp4" loop muted autoplay></video>
        </div>
        <div class="video circle2">
            <video src="https://www.robmillsarchitects.com/files/land/city/RMA_Web_land_city_2.mp4" loop muted autoplay></video>
        </div>
        <div class="text">
            <label class="but">
                <input class="inp" type="file" name="file" accept="image/*"
                    (change)="onFileSelected($event.target.files[0])">
                    ADD PHOTO
            </label>
        </div>
    </div>
    <div>
        <app-images></app-images>
    </div>
</div>