.match-parent {
    position: absolute; 
    top: 0; 
    right: 0;
    width:65%; 
    height: 100%;
}

.marker {
    display: block;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    padding: 0;
}