<div id="body">
    <div #container class="container" id="container">
        <div class="form-container sign-up-container">
            <form [formGroup]="createUser">
                <h1>Create Account</h1>
                <!-- <div class="social-container">
                    <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
                    <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
                    <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
                </div>
                <span>or use your email for registration</span> -->

                <mat-form-field appearance="outline">
                    <mat-label>Name</mat-label>
                    <input type="text" matInput formControlName="name">
                    <mat-error *ngIf="createUser.get('name').hasError('required')">
                        Name is <strong>required</strong>
                    </mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <input type="email" matInput formControlName="email">
                    <mat-error *ngIf="createUser.get('email').invalid && !createUser.get('email').hasError('required')">
                        Please enter a <strong>valid</strong> email address
                    </mat-error>
                    <mat-error *ngIf="createUser.get('email').hasError('required')">
                        Email is <strong>required</strong>
                    </mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Password</mat-label>
                    <input type="password" matInput formControlName="password">
                    <mat-error
                        *ngIf="createUser.get('password').hasError('minlength') && !createUser.get('password').hasError('required')">
                        Min 6 characters
                    </mat-error>
                    <mat-error *ngIf="createUser.get('password').hasError('required')">
                        Password is <strong>required</strong>
                    </mat-error>
                </mat-form-field>
                <button (click)="register()">Sign Up</button>
            </form>
        </div>
        <div class="form-container sign-in-container">
            <form [formGroup]="loginUser">
                <h1>Log in</h1>
                <!-- <div class="social-container">
                    <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
                    <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
                    <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
                </div>
                <span>or use your account</span> -->
                <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <input type="email" matInput formControlName="email">
                    <mat-error *ngIf="loginUser.get('email').invalid && !loginUser.get('email').hasError('required')">
                        Please enter a <strong>valid</strong> email address
                    </mat-error>
                    <mat-error *ngIf="loginUser.get('email').hasError('required')">
                        Email is <strong>required</strong>
                    </mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Password</mat-label>
                    <input type="password" matInput formControlName="password">
                    <mat-error
                        *ngIf="loginUser.get('password').hasError('minlength') && !loginUser.get('password').hasError('required')">
                        Min 6 characters
                    </mat-error>
                    <mat-error *ngIf="loginUser.get('password').hasError('required')">
                        Password is <strong>required</strong>
                    </mat-error>
                </mat-form-field>
                <button (click)="login()">Log In</button>
            </form>
        </div>
        <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-panel overlay-left">
                    <h1>Welcome Back!</h1>
                    <p>To keep connected with us please login with your personal info</p>
                    <button class="ghost" id="signIn" (click)="openSignIn()">Log In</button>
                </div>
                <div class="overlay-panel overlay-right">
                    <h1>Hello, Friend!</h1>
                    <p>Enter your personal details and start journey with us</p>
                    <button class="ghost" id="signUp" (click)="openSignUp()">Sign Up</button>
                </div>
            </div>
        </div>
    </div>
</div>