/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
    height: 100%;
}

html {
    height: 100%;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.mapboxgl-ctrl-geocoder {
    width: 100%!important;
    max-width: 1000px;
}
.mapboxgl-ctrl-geocoder--input {
    height: 45px;
    padding: 6px 35px;
}